Partyplaner/config.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="konfiguration">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="gaesteliste">
					<xs:complexType>
						<xs:sequence>
							<xs:element maxOccurs="unbounded" name="gast">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="name" type="xs:string" />
										<xs:element name="beruf" type="xs:string" />
										<xs:element name="startposition">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="x" type="xs:int" />
													<xs:element name="y" type="xs:int" />
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="wunschabstaende">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="wunschabstand">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="name" type="xs:string" />
																<xs:element name="distanz" type="xs:int" />
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="raum">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="groesse">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="x" type="xs:int" />
										<xs:element name="y" type="xs:int" />
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="tisch">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="groesse">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="x" type="xs:int" />
													<xs:element name="y" type="xs:int" />
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="position">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="x" type="xs:int" />
													<xs:element name="y" type="xs:int" />
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>